body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

.navbar {
  background: #6ab446;
}

.nav-link,
.navbar-brand {
  font-size: 1rem;
  margin-top: 10px;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.5),
      rgba(255, 255, 0, 0.5)
    ),
    url("jakarta-city-background.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.description {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.description h1 {
  color: #6ab446;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.description button {
  border: 1px solid #6ab446;
  background: #6ab446;
  border-radius: 0;
  color: #fff;
}

.description button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.features .form-control,
.features input {
  border-radius: 0;
}

.features .btn {
  background-color: #589b37;
  border: 1px solid #589b37;
  color: #fff;
  margin-top: 20px;
}

.features .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logo {
  width: 300px;
  height: auto;
}

.logo:hover {
  opacity: 100;
  transition: opacity 0.3s ease;
}

.get-in-touch {
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.get-in-touch .form-group {
  margin-bottom: 15px;
}

.get-in-touch .form-control {
  padding: 10px;
  font-size: 0.9rem;
}

.get-in-touch .btn {
  margin-top: 15px;
  padding: 10px 15px;
  font-size: 0.9rem;
  background-color: #589b37;
  border: 1px solid #589b37;
  color: #fff;
  width: 100%;
  border-radius: 5px;
}

.get-in-touch .btn:hover {
  background-color: #333;
  border: 1px solid #333;
}

.get-in-touch h3.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.architecture {
  text-align: center;
  background-color: #fff;
  padding: 10px;
  margin: auto;
  max-width: auto;
  border: 1px solid #0000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.architecture h3 {
  color: #6ab446;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.architecture p {
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
}
