/* CSS for Registration Page */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("jakarta-city-background.png"); /* Overlay background */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-box, .gender-box, .address {
  margin-bottom: 1rem;
}

.input-box label, .gender-box h3, .address label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
  color: #333;
}

.input-box input, .address input, .select-box select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  outline: none;
  transition: border-color 0.3s;
}

.input-box input:focus, .address input:focus, .select-box select:focus {
  border-color: #6b73ff;
}

.gender-box {
  margin-bottom: 1.5rem;
}

.gender-box h3 {
  margin-bottom: 0.5rem;
}

.gender-option {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
}

.gender {
  display: flex;
  align-items: center;
  margin-right: 1rem; /* Adjust margin as needed */
}

.gender input {
  margin-right: 0.5rem;
}

.column {
  display: flex;
  justify-content: space-between;
}

.column .input-box, .column .select-box {
  width: 48%;
}

.select-box select {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  outline: none;
  transition: border-color 0.3s;
}

button {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #6b73ff, #000dff);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 1rem;
}

button:hover {
  background: linear-gradient(135deg, #000dff, #6b73ff);
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.back-button:hover {
  color: #6b73ff;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.phone-input {
  display: flex;
  align-items: center;
}

.phone-input input {
  padding-left: 4rem; /* Adjust padding to accommodate country code */
  position: relative;
}

.phone-input::before {
  content: "+";
  position: absolute;
  left: 1rem;
  font-size: 1rem;
  color: #333;
}
